<div class="bg-off-white pv4">
	<div class="ph3 mw7 center">

		<h2 class="f2 b lh-title mb3">我们的产品与服务</h2>
		<div class="mw7 center pv3">
		  <p class="f4 lh-copy mid-gray">{{ .Site.Params.product_intro }}</p>
		</div>


		<div class="w-100 flex-ns mhn1-ns flex-wrap mb3">
			{{ with .Site.GetPage "/categories" }}
			  {{ range .Params.categories_list }}
				<div class="ph1-ns w-50-ns flex mb4">
					<div class="bg-white br3 pa3 w-100">
						<a href="/categories/{{ .name | urlize }}" class="no-underline">
							{{ if .image }}
								<img src="{{ .image }}" alt="{{ .name }}" class="w-100 br3 mb3">
							{{ else }}
								<div class="bg-grey-1 br3 mb3" style="height: 200px; width: 100%;"></div>
							{{ end }}
							<h3 class="f3 b lh-title mb2 primary">{{ .name }}</h3>
							{{ if .description }}
								<p class="mid-gray mb3">{{ .description }}</p>
							{{ end }}
						</a>
					</div>
				</div>
			  {{ end }}
			{{ end }}
		</div>

		<div class="tc">
			<a href="/categories" class="btn raise">查看全部分类</a>
		</div>

	</div>
</div>
