<div class="mw7 center pt4 pb5">
  <h2 class="f3 b lh-title mb2 tc">最新动态</h2>
  <div class="flex-ns flex-wrap mhn1-ns pa3">
    {{ $blogs := .Site.GetPage "section" "blog" }}
    {{ range first 3 $blogs.Pages.ByDate.Reverse }}
      <div class="w-100 ph1-ns flex mb3">
        <a href="{{ .RelPermalink }}" class="no-underline pa3 bg-grey-1 br1 mb2 db raise w-100">
          <h3 class="f4 b lh-title mb1 primary">{{ .Title }}</h3>
          <p class="mid-gray lh-title mb2">{{ .Date.Format "2006年01月02日" }}</p>
          <p class="mb0">{{ .Description }}</p>
        </a>
      </div>
    {{ end }}
  </div>
</div>
