{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" "/img/blog-index.jpg" "产品" .title) }}

<div class="mw7 center">
  {{ if eq .Section "categories" }}
    <div class="flex-ns flex-wrap mhn1-ns pa3">
      {{ with .Site.GetPage "/categories" }}
        {{ range .Params.categories_list }}
          <div class="w-50-ns ph1-ns flex mb4">
            <div class="bg-white br3 pa3 w-100 shadow-1 hover-shadow-2">
              <div class="no-underline">
                {{ if .image }}
                  <img src="{{ .image }}" alt="{{ .name }}" class="w-100 br3 mb3" style="height: 200px; object-fit: cover;">
                {{ else }}
                  <div class="bg-grey-1 br3 mb3" style="height: 200px; width: 100%;"></div>
                {{ end }}
                <h3 class="f3 b lh-title mb2 primary">{{ .name }}</h3>
                {{ if .description }}
                  <p class="mid-gray mb3">{{ .description }}</p>
                {{ end }}
              </div>
            </div>
          </div>
        {{ end }}
      {{ end }}
    </div>
  {{ else }}
    <ul class="flex-ns flex-wrap mhn1-ns pa3">
      {{ range .Pages }}
        <li class="w-100 ph1-ns">
          <a href="{{ .RelPermalink }}" class="link db pa3 br3 bg-white mb2">
            <h2 class="f3 b lh-title mb1">{{ .Title }}</h2>
            <p class="mid-gray lh-title mb2">{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
            <p class="mb0">{{ .Description }}</p>
          </a>
        </li>
      {{ end }}
    </ul>
  {{ end }}
</div>

{{end}}
