{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" "/img/blog-index.jpg" "产品" .Title) }}

<div class="mw7 center">
  <div class="flex-ns flex-wrap mhn1-ns pa3">
    {{ range .Params.categories_list }}
      <div class="w-50-ns ph1-ns flex mb4">
        <div class="bg-white br3 pa3 w-100 shadow-1 hover-shadow-2">
          <a href="/categories/{{ .name | urlize }}" class="no-underline">
            {{ if .image }}
              <img src="{{ .image }}" alt="{{ .name }}" class="w-100 br3 mb3" style="height: 200px; object-fit: cover;">
            {{ else }}
              <div class="bg-grey-1 br3 mb3" style="height: 200px; width: 100%;"></div>
            {{ end }}
            <h3 class="f3 b lh-title mb2 primary">{{ .name }}</h3>
            {{ if .description }}
              <p class="mid-gray mb3">{{ .description }}</p>
            {{ end }}
          </a>
        </div>
      </div>
    {{ end }}
  </div>
</div>

{{end}}
