{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" "/img/blog-index.jpg" "title" "文章分类") }}

<div class="mw7 center">
  <div class="flex-ns flex-wrap mhn1-ns pa3">
    {{ range (where .Site.RegularPages "Type" "categories") }}
      <div class="w-50-ns ph1-ns flex mb4">
        <div class="bg-white br3 pa3 w-100">
          <a href="{{ .RelPermalink }}" class="no-underline">
            {{ if .Params.image }}
              <img src="{{ .Params.image }}" alt="{{ .Title }}" class="w-100 br3 mb3">
            {{ else }}
              <div class="bg-grey-1 br3 mb3" style="height: 200px; width: 100%;"></div>
            {{ end }}
            <h3 class="f3 b lh-title mb2 primary">{{ .Title }}</h3>
            {{ if .Params.description }}
              <p class="mid-gray mb3">{{ .Params.description }}</p>
            {{ end }}
            <div class="w-100 pv2">
              {{ .Content }}
            </div>
          </a>
        </div>
      </div>
    {{ end }}
  </div>
</div>

{{end}}
