{{ define "main" }}

<div class="ph3 bg-off-white">
  <div class="center mw6 pv3">
    <!-- 页面标题 -->
    <h1 class="f2 lh-title b mb3">{{ .Title }}</h1>

    <!-- 分类标签 -->
    {{ with .Params.categories }}
      <div class="tags grey-3 pb3">
        <strong>Categories:</strong>
        {{ range . }}
          <a href='{{ "/categories/" | relLangURL }}{{ . | urlize }}' class="link grey-3 ph2">{{ . }}</a>
        {{ end }}
      </div>
    {{ end }}

    <!-- 文章内容 -->
    <div class="cms mw6">
      <!-- 描述 -->
      {{ if .Description }}
        <p>{{ .Description }}</p>
      {{ end }}

      <!-- 图片 -->
      {{ if .Params.image }}
        <img src="{{ .Params.image }}" alt="{{ .Title }}" />
      {{ end }}

      <!-- 主要内容 -->
      {{ .Content }}
    </div>
  </div>
</div>

{{ end }}
