{{ define "main" }}

<body class="bg-off-white">
  <div class="mw6 center ph3 pv4">
    <h1 class="f2 lh-title b mb3">{{ .Title }}</h1>

    <!-- 显示分类标签 -->
    {{ with .Params.categories }}
      <div class="tags grey-3 pb3">
        <strong>Categories:</strong>
        {{ range . }}
          <a href='{{ "/categories/" | relLangURL }}{{ . | urlize }}' class="link grey-3 ph2">{{ . }}</a>
        {{ end }}
      </div>
    {{ end }}

    <div class="cms mw6">
      <!-- 显示描述 -->
      {{ if .Description }}
        <p>{{ .Description }}</p>
      {{ end }}

      <!-- 显示图片 -->
      {{ if .Params.image }}
        <img src="{{ .Params.image }}" alt="{{ .Title }}" />
      {{ end }}

      <!-- 显示文章内容 -->
      {{ .Content }}
    </div>
  </div>
</body>

{{ end }}
