{{ define "main" }}
<div class="mw7 center">
  <h1 class="f2 b lh-title mb3">{{ .Title }}</h1>
  <div class="flex-ns flex-wrap mhn1-ns">
    {{ range .Pages }}
      <div class="w-100 ph1-ns flex mb3">
        <div class="flex items-center w-100 bg-white br1 shadow-1">
          {{ with .Params.image }}
            <div class="w-third pr3">
              <img src="{{ . }}" alt="" class="db w-100 br1" style="height: 200px; object-fit: cover;">
            </div>
          {{ end }}
          <div class="w-two-thirds pa3">
            <h3 class="f4 b lh-title mb1 primary">{{ .Title }}</h3>
            <p class="mid-gray lh-title mb2">{{ .Date.Format "2006年01月02日" }}</p>
            <p class="mb0">{{ .Description }}</p>
            <a href="{{ .RelPermalink }}" class="btn raise mt3">阅读更多</a>
          </div>
        </div>
      </div>
    {{ end }}
  </div>
</div>
{{ end }}
